<div *ngIf='nav.visible'>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <div><img class="w-50 img-fluid" src="../../assets/images/quick-campaign-2.png" alt="logo"> </div>
        
        <a class="navbar-brand" routerLink=''>{{headerBrand}}</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/about-us' routerLinkActive='active'>About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink='/campaign' routerLinkActive='active'>Campaign/Posters</a>
                </li>

            </ul>
        </div>
    </nav>
</div>