<div class="container-fluid border-custom">
	<div class="row">
		<div class="col-md-12">
		
			<div class="">  	
				<p> </p><p> </p>			
					<h2 class="text-center">
						{{selectedCampaign?.slogan}}
					</h2>             
					<p> </p><p> </p><p> </p>
                <div class="text-center"> <img class="img-fluid" alt="Bootstrap Image Preview" src="{{apiRootUrl}}{{selectedCampaign?.main_logo}}"></div>
				<p></p>
				<div class="text-center">
                    <h3>
                        <small>
                            Dates: {{startDate}} <b>To</b> {{endDate}}  
                        </small> 
                   </h3>
				</div>
				<p></p>
                <div>
                    <h4>
                        {{selectedCampaign?.name}}
                    </h4>
                </div>
				<p>
					{{selectedCampaign?.shortdesc}} {{selectedCampaign?.shortdesc}} {{selectedCampaign?.shortdesc}}{{selectedCampaign?.shortdesc}}{{selectedCampaign?.shortdesc}}{{selectedCampaign?.shortdesc}}
				</p>
			<div class="text-center">
			<div>
				<button class="btn btn-warning ml-3" (click)="onBooking()" type="button">
					Book Your Time
				</button>
				<button class="btn btn-warning ml-3" (click)= "onSchedule()" type="button">
					Check Slot
				</button> 
			</div>
			</div>
			<p> </p><p> </p>
			<div class="container-fluid">
				<div class="row">
					Contact Persons: 
				 </div>
			  </div>
			  <p> </p><p> </p>
			<div class="row">
				<div class="col-sm">
					<div *ngIf='selectedCampaign.footer_logo1'>
						<img class="img-fluid" style="width:100%" alt="Bootstrap Image Preview" src="{{apiRootUrl}}{{selectedCampaign?.footer_logo1}}">
					</div>
				</div>
			
			  </div>
			  <p> </p><p> </p>		
		</div>
		</div>
	</div>
</div>