<div  *ngIf='nav.visible' class="col-sm-12 sidenav nav justify-content-center">   
    <div class="container-fluid">
        Campaign List:
        <app-campaign-list></app-campaign-list>
    </div>
    <!--
    <div class="container-fluid">
        <a  (click)="openPosterInNewWindow()"  style="cursor: pointer;">
            Poster
        </a>
    </div>
    -->
    <div class="container-fluid">
        <a  (click)="openPosterForm()"  style="cursor: pointer;">
            Dynamic Poster
        </a>
    </div>   
</div>