<div class="container-fluid container-custom">
	<div class="row">
		<div class="col-md-12">
		
			<div class="">  	
				<p> </p><p> </p>			
					<h2 class="text-center">
                        Business Webinar 2020
                    </h2>             
                    <h4 class="text-center">
                        How to get Instant Loan?
					</h4>             
					<p> </p><p> </p><p> </p>
                <div class="text-center"> 
                    <img class="img-fluid" alt="Bootstrap Image Preview" src="assets/images/dj.jpeg">
                </div>
				<p></p>
				<div class="text-center">
                    <h3>
                        <small>
                            CA Dinesh Kumar Jain  (Jaipur)
                        </small> 
                   </h3>
                </div>
                <div class="text-center">
                    <h3>
                        <small>
                            Deatails about Speaker line 1
                        </small> 
                   </h3>
                </div>
                <div class="text-center">
                    <h3>
                        <small>
                            Deatails about Speaker line 2
                        </small> 
                   </h3>
				</div>
				<p></p>
                <div class="row text-center">
                        <div class="col"></div>
                        <div class="col-6 topic-container">
                            <h3>
                                <small>
                                   Discussion about several topics of Jainism and
                                    its corelated Dharm.
                                </small> 
                            </h3>
                        </div>
                    <div class="col"></div>
				</div>
                <div class="text-center">
                    <h3>
                        <small>
                                Dates
                        </small> 
                   </h3>
				</div>
			
			<br><br>
			<div class="container-fluid">
                <div class="row">
                    Zoom Meeting Id:xxxxxxxxx
                 </div>
                 <div class="row">
                    Zoom Password: xxxxxxx
				 </div>
				<div class="row">
					Contacts: 
				 </div>
			 </div>
			  <p> </p>
			<div class="row">
				<div class="col-sm">
					<div>
						<img class="img-fluid" style="width:100%" alt="Bootstrap Image Preview" src="assets/images/dj_footer_1.png">
					</div>
				</div>
			
			  </div>
			  <p> </p><p> </p>		
		</div>
		</div>
	</div>
</div>