.wrapper {
   /* background-image: url(../../../../assets/images/background/bg_2.png);*/
   background-color: #FFFFE0;
   color: #000080;   
}
.pageText{
    color: #900C3F;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: bold;
    font-size: 1em;
}
.maintitle{
    color: #900C3F;
    font-weight: bold;
}
.subtitle{
    color: #00008B;
}
.imageTitle{
    font-weight: bold;
}
.posterTopicDesciption {
    font-weight: bold;
    background-color: #FFE4B5;

}
.eventDate {
    color: #900C3F;
    font-weight: bold;
    
}
.imagesection{
    border-style: dashed;
}

.onlineMeetingId{
    background-color: #900C3F;
    color: white;
}
.contactPersons{
    background-color: #900C3F;
    color: white;
}