
.panel-body {
    overflow: scroll;
    height: 100%;
    width: 100%;
}


.container{
    margin-top: 40px;
   
}

.row{
    margin-top: 40px;
    margin-left:  auto;
    margin-right: auto;
}

button:disabled {
    background-color: grey;
}


input.ng-invalid{
    border-right: 4px solid tomato;
}

select.ng-invalid{
    border-right: 4px solid tomato; ;
}

textarea.ng-invalid.ng-dirty{
    border-right: 4px solid tomato;
}

input.ng-valid.ng-dirty{
    border-right: 4px solid green;  
}

select.ng-valid.ng-touched{
    border-right: 4px solid green; ;
}

textarea.ng-valid.ng-dirty{
    border-right: 4px solid green;
}


