<form (ngSubmit)=onSubmit(f) #f="ngForm">

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required ngModel>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>


    <div class="form-group">
        <label for="address">Address:</label>

        <textarea class="form-control" id="address" rows="3" name="address" required ngModel></textarea>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" required ngModel>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>


    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required ngModel>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>


    <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="number" class="form-control" id="phone" name="phone" required ngModel>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
    </div>



    <!-- this date picker doesn't take max date dynamically ?? -->
    <div class="form-group">
        <label for="date">Date:</label> &nbsp;
        <input type="date" id="date" name="date" value="" [max]="eDate" [min]="sDate"  required ngModel >
        <span class="validity"></span>
    </div>
     
    <div class="form-group ">
        <label for="timeSlot">Time Slot</label>
        <select id="timeSlot" class="form-control" name ="timeSlot" ngModel>
            <option selected>Choose...</option>
            <option>1</option>
            <option>2</option>

        </select>
    </div>



    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button> &nbsp;
</form>